vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Mar 2015 23:08:33 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Chevy-PC\\Chevy
vti_modifiedby:SR|Chevy-PC\\Chevy
vti_timecreated:TR|13 Mar 2015 23:08:33 -0000
vti_cacheddtm:TX|13 Mar 2015 23:08:33 -0000
vti_filesize:IR|112
vti_cachedlinkinfo:VX|S|images/Yu-Gi-Oh!.jpg
vti_cachedsvcrellinks:VX|FSUS|Client\\ Programming/Project\\ I/images/Yu-Gi-Oh!.jpg
vti_backlinkinfo:VX|Client\\ Programming/Project\\ I/outdated_browser.html Client\\ Programming/Project\\ I/yugioh_ace_monsters.html
