vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Dec 2013 23:20:15 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Project\\ 3/resources.html Project\\ 3/info.html Project\\ 2\\ -\\ Web\\ II/genre.html Project\\ 3/link.html Project\\ 3/genre.html Project\\ 2\\ -\\ Web\\ II/info.html Project\\ 3/index.html Project\\ 2\\ -\\ Web\\ II/link.html Project\\ 2\\ -\\ Web\\ II/resources.html
vti_author:SR|Chevy-PC\\Chevy
vti_modifiedby:SR|Chevy-PC\\Chevy
vti_timecreated:TR|12 Dec 2013 23:10:17 -0000
vti_nexttolasttimemodified:TW|12 Dec 2013 23:16:18 -0000
vti_cacheddtm:TX|12 Dec 2013 23:20:15 -0000
vti_filesize:IR|1905
vti_cachedlinkinfo:VX|S|../images/Anime_Page_Banner.jpg S|../images/SAO_Title.jpg S|../images/SAO_Example.jpg S|../images/DBZ_Title.png S|../images/DBZ_Example.jpg
vti_cachedsvcrellinks:VX|FSUS|Project\\ 3/images/Anime_Page_Banner.jpg FSUS|Project\\ 3/images/SAO_Title.jpg FSUS|Project\\ 3/images/SAO_Example.jpg FSUS|Project\\ 3/images/DBZ_Title.png FSUS|Project\\ 3/images/DBZ_Example.jpg
