vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Feb 2015 00:10:36 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Chevy-PC\\Chevy
vti_modifiedby:SR|Chevy-PC\\Chevy
vti_timecreated:TR|13 Feb 2015 00:10:36 -0000
vti_cacheddtm:TX|13 Feb 2015 00:10:36 -0000
vti_filesize:IR|653
vti_cachedlinkinfo:VX|S|/fonts/MyUnderwood.eot S|fonts/MyUnderwood.ttf S|/fonts/MyUnderwood.svg
vti_cachedsvcrellinks:VX|NSUS|/fonts/MyUnderwood.eot NSUS|Client\\ Programming/fonts/MyUnderwood.ttf NSUS|/fonts/MyUnderwood.svg
vti_backlinkinfo:VX|Client\\ Programming/DemoDHTML.html
